
.auth-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  /* background-color: #f1f2f3; */
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 24px;
  padding: 48px;
  
}
.auth-container-1{
  padding: 20px;
  margin-right: 30px;
  gap: 20px;
  
 }
 .inner{
   display: flex;
   gap: 16px;
   align-items: center;
  
  
 }

.auth-container-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin-right: 30px;
  
}
.login-logo{
  height: 55px;
  /* width: 280px; */
  margin: 30px auto;  
}
.auth-container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-form-container {
  /* background-color: white; */
  background: linear-gradient(135deg, #ebadb6 0%, #aceae1 100%);
  padding: 24px;
  
  border-radius: 10px;
  box-shadow: 0px 10px 25px #00000033;
  width: 300px;
}

.auth-form-container h1 {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-self:center;
  font-size: 27px;
  font-weight: 600;
  
}

.auth-agreement {
  font-size: 11px;
  margin: 2px 0;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.auth-agreement .link {
  color: #1B75D0;
}

.auth-form-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
 .user {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.user {
  margin-bottom: 5px;
  gap: 10px;
}

.user input {
  height: 32px;
  width: 100%;
  border: 1px solid #0000003e;
  border-radius: 6px;
  padding: 7.8px 9.8px;
}

.auth-form-container form label {
  margin-bottom: 5px;
  gap: 10px;
}

.auth-form-container form input {
  height: 32px;
  width: 100%;
  border: 1px solid #0000003e;
  border-radius: 6px;
  padding: 7.8px 9.8px;
}

.pass-div {
  display: flex;
  flex-direction: row;
 justify-content: space-between;
 margin: 2px 0; 
}

.password-input-container {
  position: relative;
}

.password-input-container input {
  padding-right: 2.5rem;
}

.toggle-password-visibility {
  position: absolute;
  right: 10px;
  margin-top: 4px;
  cursor: pointer;
}
.pass-div a{
  margin-top:2px ;
  color: #1B75D0; 
  font-size: small; 
}

.auth-btn {
  height: 37px;
  border: 1px solid #0000003e;
  border-radius: 6px;
  margin: 5px;
  /* padding: 10px; */
  background-color: #1B75D0;
text-align: center;
  color: white;
  font-size: 13px;
  cursor: pointer;
  box-shadow: 0px 1px 5px #00000033;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.auth-btn:hover {
  background-color: #1b68b7;
}

.password-requirements {
  font-size: 11px;
  margin: 2px 0;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
hr{
  margin-top: 20px;
 
  border: px solid #0000003e;
  border-radius: 1px;
  width: 250px;
  height: 1px;
  
} 
.text{
  font-size:13px;
  margin: 0 0 20px; 
  padding: 16px 16px 0; 
  align-items: center;
  justify-content: center;
  display: flex; 
}
@media screen and (max-width: 960px)  {
  .auth-container-1{
    display: none;
    
  }
  .auth-container{
    margin-top: 50px;
  }
}




